<div class="text-center">
    <h1>Welcome to Kavan Shop</h1>
    <p>Find the best products at affordable prices.</p>
  
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 1</h5>
            <p class="card-text">Description of Feature 1</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 2</h5>
            <p class="card-text">Description of Feature 2</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Feature 3</h5>
            <p class="card-text">Description of Feature 3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  